.gif-container{
    width: 1428px;
    height: 77vh;
    overflow-y: auto;
    position: relative;
    padding: 5px;

    &::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 1300px){
    .gif-container{
        width: 1224px;
    }
}

@media screen and (max-width: 1100px){
    .gif-container{
        width: 1020px;
    }
}

@media screen and (max-width: 900px){
    .gif-container{
        width: 816px;
    }
}

@media screen and (max-width: 770px){
    .gif-container{
        width: 612px;
    }
}


@media screen and (max-width: 500px){
    .gif-container{
        width: 408px;
    }
}

@media screen and (max-width: 360px){
    .gif-container{
        width: 204px;
    }
}