.header{
    height: 7vh;
    box-shadow: 0 0 10px white;
    color: #FEFBFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6514DD;
}